.container {
    max-height: 2000px;
    width: 100%;
    margin-top: 80px;
    height:100%;
    display: inline-block;
}
.contentbox {
    width: 80%;
    height: 90%;
    display: inline-block;
    }
.contents {
    width:100%;
    height:100%;
    }